/*---------------------HOME PAGE--------------------------*/

/* Import the Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    /* Set the default font size to 16px */
    font-size: 100%;
    /* Set the default font family to the Inter font */
    font-family:'Inter', sans-serif;
}

/* Set the logo text style */
#logo {
    font-family:'Inter', sans-serif;
    font-size: 1.5rem;
    color:#121313;
    font-weight: bolder;
}

/* Remove the underline on the logo text */
#logo a {
    text-decoration: none;
    color: #0E0E0F;
}

/* Style the header container */
.header {
    display:flex; /* Use flexbox to align and distribute items within the header */
    flex-direction: row;
    justify-content:space-between;
    height: 6rem;
    text-decoration: none; /* Remove the underline on the header links */
    color:#0E0E0F;
    align-items: center; /* Center the items within the header */
    padding: 1rem; /* Add padding to the header */
    /* Add margin to the left and right sides of the header */
    margin-left: 5%; 
    margin-right: 5%;
}

/* Style the unordered list of links in the header */
ul {
    font-family:'Inter', sans-serif;
    font-size:16px;
    /* Add margin to the right side of the list of links */
    margin-right:20px;
    /* Remove the default list styling */
    list-style: none;
}

/* Style the navigation container */
nav {
    /* Set the width of the navigation container to 100% of the viewport */
    width: 100%;
    /* Use flexbox to align and distribute items within the navigation container */
    display: flex;
    /* Center the items within the navigation container */
    align-items: center;
    /* Space out the items within the navigation container */
    justify-content: space-between;
    /* Add padding to the top and bottom of the navigation container */
    padding: 20px 0;
}

/* Style each list item within the unordered list of links */
nav ul li {
    /* Display each list item as an inline block */
    display: inline-block;
    /* Remove the default list styling */
    list-style: none;
    /* Add margin to the top and bottom of each list item */
    margin: 10px 30px;
}

/* Style the app border */
#appBorder {
    border-style:inset;
    border-radius:100px;
    border-width: 2px;
    padding:10px;
    padding-right:20px;
    padding-left: 20px;
    border-color:#48C8A4;
}

/* Body styles */
body {
    /* Set the background image */
    background-image: url('../ASSETS/background.jpg');
    /* Set the background image to cover the entire body */
    background-size: cover;
    /* Don't repeat the background image */
    background-repeat: no-repeat;
    /* Use flexbox layout */
    display: flex;
    /* Set the width of the body to 100% */
    width: 100%;
    /* Set the flex-flow direction to column and the wrapping to nowrap */
    flex-flow: column nowrap;

}

/* Main content styles */
h1 {
    /* Set the top margin of the h1 to 124px */
    margin-top: 124px;
    /* Set the left margin of the h1 to 80px */
    margin-left: 80px;
    /* Set the font size of the h1 to 3rem */
    font-size: 3rem;
}

/* Title - in the same text as h1 */
#secondH1 {
    /* Set the top margin of the second h1 to -40px */
    margin-top:-5px;
}

/* Word with a different color in the second h1 text */
#secondH1Word {
    /* Set the color of the text */
    color: #48C8A4;
    /* Set the top margin of the text */
    margin-top:-59px;
    /* Set the left margin of the text */
    margin-left: 220px;
    /* Set the font size of the text to 3rem */
    font-size: 3rem;
}

/* Png of stars (reviews) */
#starsPicture {
    margin-top: 49px;
    margin-left: 75px;
}

/* Small review text- Shopify and Appstore */
#reviewText {
    margin-top: 10px;
    margin-left: 85px;
    /* Set the font-weight of the reviewText */
    font-weight: bolder;
    font-size: 1rem;
}

/* Black button at home page */
#buttonStart {
    background-color: #0E0E0F;
    margin-top:55px;
    margin-left:80px;
    width: 206px;
    height: 68px;
    color: #FDFDFD;
    font-family:'Inter', sans-serif;
    font-size:20px;
    border-radius: 10px;
    border-color: #0E0E0F;
}

/* Mockup img of tablet */
#tabletMockup {
    margin-left:750px;
    margin-top:-150px;
    display:flex;

}

/* Mockup img of iphone */
#mobileMockup {
    margin-left:1090px;
    margin-top:-310px;
    display:flex;
}

/* Quote section */
.h2Section {
    background-color: #FDFDFD;
    padding: 50px;
    margin-top:150px;
    margin-bottom:100px;
}

/* h2 text- quote */
h2 {
    margin-left: 400px;
    background-color: #FDFDFD;
    font-size: 1.5rem;
}

/* Title 1 next to the grocery list */
.title1 {
    margin-top: 150px;
    margin-left: 960px;
    font-size: 2rem;
    font-weight: bold;
}

/* Title 2 next to the grocery list */
.title2 {
    margin-left: 1025px;
    font-size: 2rem;
    font-weight: bold;
}

/* Arrow img next to the grocery list */
#arrowImg{
    margin-top: 10px;
    margin-left: 860px;
}

/* Grocery section */
.groceries {
    border: 20px solid #0E0E0F;
    border-radius: 70px;
    width: 580px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top:20px;
    min-height:85vh;
    margin-left:70px;
    margin-top: -380px;
    margin-bottom: 100px;
    background-color:#FDFDFD;
    box-shadow:10px 10px 24px 0 rgba(0, 0, 0, 0.5);
}

/* Style of the input felt */
.groceries input {
    padding-top:30px;
    font-family: inherit;
    outline: 0;
    border: 0;
    border-bottom: 3px solid #0E0E0F;
    background-color: #FDFDFD;
    margin-left: 30px;
    width: 55%;
    font-size: 1.5rem;
}

/* Style of the pencil img */
#pencil {
    margin-left:-99px;
    margin-right: 10px;
    padding-left:-30px;
    margin-top:25px;
}

/* Style of the unordered list that shows up when user types a grocery */
#allItems {
    /* The position property specifies the positioning method for the element */
    position: absolute;
    /* The distance from the top of the parent container */
    top:1205px;
     /* The distance from the left of the parent container */
    left: 160px;
    font-size:1.5rem;
     /* The maximum height of the element */
    max-height: 450px;
     /* The maximum width of the element */
    max-width: 450px;
     /* What to do if the content inside the element overflows */
    overflow: auto;
}

/* Style of the add button */
#add {
    position: absolute;
    top: 1099px;
    left:510px;
    width: 85px;
    border-color: #FFC656;
    background-color: #FFC656;
    height: 55px;
    color: #0E0E0F;
    font-family:'Inter', sans-serif;
    font-size:20px;
    border-radius: 8px;
}

/* Style of the input in the grocery list */
#userInput {
    margin-left: 10px;
}

/* Style of the 'Delete all' button */
#deleteAllButton {
    position: absolute;
    top:1720px;
    left: 285px;
    width: 130px;
    border-color: #FF9056;
    background-color: #FF9056;
    height: 60px;
    color: #0E0E0F;
    font-family:'Inter', sans-serif;
    font-size:20px;
    border-radius: 8px;
}

/* Style of the trash button in grocery list */
.delete-button {
    display: inline-block;
    color: #FDFDFD;
    width: 40px;
    height: 48px;
    background-color: transparent;
    border: 0;
    margin-left: 240px;
    margin-top: 25px;
    border-color: #FDFDFD;
    cursor: pointer;
    background-image: url(../ASSETS/Vector.svg);
}

/* Style of the checkbox */
.checkbox-li {
    width: 25px;
    height: 25px;
    margin-right: 25px;
    appearance: none; /* Remove the default appearance of the checkbox */
    border: 3px solid black; /* Add a black border */
    border-radius: 4px; /* Give the checkbox rounded corners */
    outline: none; /* Remove the outline when the checkbox is clicked */
    cursor: pointer; /* Change the cursor to a pointer when the mouse is over the checkbox */
    background-size: contain; /* Make the bckground image fit within the checkbox */

}

/* Footer section */
footer {
    background-color: #0E0E0F;
    color: #FDFDFD;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    margin-top:100px;
}

/* Style of the 'p' text in footer */
footer p {
    text-align: center;
    margin-left: -30px;
    font-size: 12px;
    margin-bottom: 10px;
}

/* Style of the Listiify logo in footer */
footer h1 {
    font-size: 20px;
    margin-left: 75px;
    margin-top:30px;
}

/* Style of the container for the footer content */
.containerFooter {
    display: flex;
    gap: 100px;
    padding: 100px 20px;
}

/* Service section in footer */
.service {
    margin-left:55px;
}

/* Style of unordered list of service links */
.service ul {
    list-style-type: none;
    line-height: 1.8;
    font-size: 14px;
}

/* Legal section in footer */
.legal {
    flex-grow: 1;
    flex-basis: 100%;
    margin-left:300px;
}

/* Style of unordered list of legal information */
.legal ul {
    list-style-type: none;
    line-height: 1.8;
    font-size: 14px;
    cursor: pointer;
}

/* Contact section in footer */
.contact {
    flex-grow: 1;
    flex-basis: 100%;
    margin-left: 80px;
}
 
/* Style of unordered list of contact information */
.contact ul {
    list-style-type: none;
    line-height: 1.8;
    font-size: 14px;
}

/*--------------------MOBILE VERSION----------------------*/
/* Responsive design for mobile screen size */
@media only screen and (max-width: 700px) {
    .header {
        flex-direction: column;
    }
    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }
    nav ul {
        margin-right: 0;
        margin-top: 20px;
    }
    html {
        font-size: 15px; 
    }
    .h2Section {
        font-size: 15px; 
        margin-left: -380px;
    }
    #secondH1Word {
        margin-left: 210px;
        margin-top: -55px;
        
    }
    footer {
        width: 100%;
        display: flex;
        padding: 20px 0;
        margin-top: 300px;
    }
    footer h1 {
        margin-left: 50px;
    }
    .service {
        margin-left: 30px;
        font-size: 10px;
        margin-bottom: 10px;
    }
    .legal {
        margin-left: -40px;
        font-size: 10px;
        margin-bottom: 10px;
    }
    .contact {
        margin-left: -69px;
        font-size: 10px;
    }
    .groceries {
        margin-left: 10px;
        width: 480px;
        margin-top: -550px;
    }
    #buttonStart {
        width: 140px;
        height: 58px;
        font-size: 16px;
    }
    #tabletMockup {
        width: 200px;
        margin-left: 80px;
        margin-top: 200px;
    }
    #mobileMockup {
        width: 200px;
        margin-left: 290px;
        margin-top: -175px;
    }
    #deleteAllButton {
        width: 150px;
        margin-left: -110px;
        margin-top: 180px;
    }
    #add {
        width: 70px;
        margin-left: -145px;
        margin-top: 230px;
    }
    #allItems {
        margin-left: -90px;
        position: absolute;
        max-height: 450px;
        max-width: 450px;
        overflow: auto;
        top: 1295px;
    }
    .checkbox-li {
        margin-top: 250px;
    }

    li {
        max-height: 100px;
    }
}









    